
.container {
    padding-top: 100px; 
    text-align: center;
}

.header {
    margin-bottom: 20px;
    font-family: 'Roboto';
}

.input-container {
    top: 0;
    left: 0;
    right: 0;
    padding: 20px; /* Increased padding for bigger input field */
    z-index: 1000; /* Ensure it is on top of other elements */
    text-align: center; /* Centering the content inside the input bar */
}

.input-container input {
    width: 70%; /* Width of the input field */
    padding: 15px; /* Bigger padding for bigger input field */
    border: 1px solid #ccc; /* Border for the input field */
    border-radius: 8px; /* Rounded corners */
    font-size: 18px; /* Larger text */
}

.input-container button {
    padding: 15px 25px; /* Larger button */
    border: none; /* Remove default border */
    background-color: #007bff; /* Button color */
    color: white; /* Text color */
    border-radius: 8px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    font-size: 18px; /* Larger text */
}

.input-container button:hover {
    background-color: #0056b3; /* Darker button color on hover */
}

.user-list{
    font-family: 'Roboto';
    margin: 50;
}
.message {
    margin-top: 20px;
    text-align: center;
    font-family: 'Roboto';
    color: rgb(148, 45, 45);
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2x2 grid */
    justify-items: center; /* Center grid items horizontally */
    align-items: center; /* Center grid items vertically */
    gap: 20px; /* Add spacing between grid items */
    width: 100%;
    max-width: 800px; /* Limit the width of the grid */
    margin: 20px auto; /* Center grid horizontally */
    padding: 20px;
    background-color: #4b49964d; /* Light gray background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow effect for grid */
    border-radius: 15px; /* Rounded corners */
    min-height: 400px; /* Pre-assign space for 4 images */
}

.grid div {
    width: 100%; /* Ensure div takes full space in grid cell */
    text-align: center; /* Center the content in each grid item */
}

.grid img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 15px; /* Rounded corners for images */
    box-shadow: 0 4px 8px rgba(15, 15, 15, 0.2); /* Shadow effect for images */
}

.note {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: rgb(100, 100, 100);
    padding: 20px;
    font-size: 18px;
}

.download-btn {
    margin-top: 5px;
    padding: 5px 10px;
    border: none;
    background-color: #28a745;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.download-btn:hover {
    background-color: #218838;
}

