.container {
    padding-top: 100px; 
    text-align: center;
}

.header {
    margin-bottom: 20px;
    font-family: 'Roboto';
}

.input-container {
    top: 0;
    left: 0;
    right: 0;
    padding: 20px; 
    z-index: 1000; 
    text-align: center; 
}

.input-container input {
    width: 70%; 
    padding: 15px; 
    border: 1px solid #ccc; 
    border-radius: 8px; 
    font-size: 18px; 
}

.input-container button {
    padding: 15px 25px; 
    border: none; 
    background-color: #007bff; 
    color: white; 
    border-radius: 8px; 
    cursor: pointer; 
    font-size: 18px; 
}

.input-container button:hover {
    background-color: #0056b3; 
}

.error-message {
    color: red;
    margin-top: 10px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.user-list {
    font-family: 'Roboto';
    margin: 50px auto;
    text-align: left;
    width: 80%;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.user-item {
    font-size: 18px;
    margin: 10px 0;
}

.disclaimer-text {
    font-size: 0.8em;
    color: gray;
    margin-top: 5px;
    text-align: center;
}
